In [1]:
#Importamos os modulos !
import pandas as pd
import pandera as pa

In [2]:
#Colocamos aqui os valoresnão informados dentro de umavariavel!
valores_validados = ['**', '****', '###!', '####', '****', '*****', 'NULL']
#e colocamos na leitura do arquivo já para limpar os dados os valores NA_VALUES (Not Avaliable)
dataframe = pd.read_csv('ocorrencia1.csv',sep=';', parse_dates=['ocorrencia_dia'],dayfirst = True, na_values= valores_validados)

In [3]:
dataframe.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,NaN
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,2010-01-06,17:53:00,0,NaN,NaN,NaN,NaN,NaN
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0,NaN,NaN,NaN,NaN,NaN
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2,NaN,NaN,NaN,NaN,NaN
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0,NaN,NaN,NaN,NaN,NaN

In [6]:
schema = pa.DataFrameSchema(
    columns={
        "codigo": pa.Column(pa.Int,required = False),
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    }
)

In [7]:
schema.validate(dataframe)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,2010-01-03,12:00:00,0,NaN,NaN,NaN,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,NaN,NaN,NaN,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,NaN,NaN,NaN,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,2010-01-04,17:30:00,0,NaN,NaN,NaN,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0,NaN,NaN,NaN,NaN,NaN
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0,NaN,NaN,NaN,NaN,NaN
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0,NaN,NaN,NaN,NaN,NaN
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,NaN,2021-08-18,16:00:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN

In [10]:
dataframe.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
Unnamed: 9                         float64
Unnamed: 10                        float64
Unnamed: 11                        float64
Unnamed: 12                        float64
Unnamed: 13                        float64
dtype: object

In [11]:
dataframe.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Unnamed: 9                                  NaN
Unnamed: 10                                 NaN
Unnamed: 11                                 NaN
Unnamed: 12                                 NaN
Unnamed: 13                                 NaN
Name: 1, dtype: object

In [13]:
#Usa o lable para localizar as informações na tabela!
dataframe.iloc[-1]

codigo_ocorrencia                         80259
codigo_ocorrencia2                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
total_recomendacoes                           0
Unnamed: 9                                  NaN
Unnamed: 10                                 NaN
Unnamed: 11                                 NaN
Unnamed: 12                                 NaN
Unnamed: 13                                 NaN
Name: 6113, dtype: object

In [16]:
#Localizando por colunas!
dataframe.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [17]:
#Localizandodeum modo mais facil colunas!
dataframe['ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [18]:
#valores não disponiveis, ou não informados
dataframe.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
Unnamed: 9                  6114
Unnamed: 10                 6114
Unnamed: 11                 6114
Unnamed: 12                 6114
Unnamed: 13                 6114
dtype: int64

In [20]:
#Visualização de dados de uma coluna nulo
dataframe.ocorrencia_uf.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6109    False
6110    False
6111    False
6112    False
6113    False
Name: ocorrencia_uf, Length: 6114, dtype: bool

In [21]:
#Aqui elenos dá os dados nulos na coluna!
dataframe.loc[dataframe.ocorrencia_uf.isnull()]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
2227,49474,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,NaN,NaN,2013-09-02,02:54:00,0,NaN,NaN,NaN,NaN,NaN
5855,79956,79956,ACIDENTE,NÃO IDENTIFICADA,NaN,NaN,2021-02-26,11:00:00,0,NaN,NaN,NaN,NaN,NaN

In [22]:
#Com o count() nos consseguimos ter uma previa de valores que são nulos! a diferença de valores!
dataframe.count()

codigo_ocorrencia           6114
codigo_ocorrencia2          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6114
ocorrencia_uf               6112
ocorrencia_aerodromo        3658
ocorrencia_dia              6114
ocorrencia_hora             6113
total_recomendacoes         6114
Unnamed: 9                     0
Unnamed: 10                    0
Unnamed: 11                    0
Unnamed: 12                    0
Unnamed: 13                    0
dtype: int64

>Ocorrencia com mais de 10 recomendações!<

In [23]:
#realizando um filtro nos dados!
filtro = dataframe.total_recomendacoes >= 10
dataframe.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
63,39992,39992,ACIDENTE,SÃO PAULO,SP,SBMT,2010-02-17,20:07:00,11,NaN,NaN,NaN,NaN,NaN
326,42250,42250,ACIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-12,12:26:00,19,NaN,NaN,NaN,NaN,NaN
530,43471,43471,ACIDENTE,SÃO PAULO,SP,NaN,2010-12-14,20:15:00,11,NaN,NaN,NaN,NaN,NaN
552,43633,43633,INCIDENTE GRAVE,RIBEIRÃO PRETO,SP,SBRP,2011-01-01,19:35:00,10,NaN,NaN,NaN,NaN,NaN
727,44377,44377,ACIDENTE,ITÁPOLIS,SP,SDIO,2011-04-09,14:50:00,11,NaN,NaN,NaN,NaN,NaN
834,44661,44661,INCIDENTE GRAVE,RIO DE JANEIRO,RJ,NaN,2011-06-17,11:59:00,10,NaN,NaN,NaN,NaN,NaN
872,44796,44796,ACIDENTE,RECIFE,PE,SBRF,2011-07-13,09:54:00,23,NaN,NaN,NaN,NaN,NaN
884,44888,44888,INCIDENTE GRAVE,SÃO JOSÉ DOS PINHAIS,PR,SBCT,2011-07-15,17:05:00,11,NaN,NaN,NaN,NaN,NaN
1062,45554,45554,INCIDENTE GRAVE,UBERLÂNDIA,MG,SBUL,2011-11-15,02:15:00,20,NaN,NaN,NaN,NaN,NaN
1972,47938,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,11,NaN,NaN,NaN,NaN,NaN
2797,52265,52265,ACIDENTE,SANTOS,SP,NaN,2014-08-13,13:03:00,13,NaN,NaN,NaN,NaN,NaN
3932,66432,66432,INCIDENTE GRAVE,VITÓRIA,ES,NaN,2017-02-21,11:47:00,12,NaN,NaN,NaN,NaN,NaN

In [30]:
filtro = dataframe.total_recomendacoes >= 10
dataframe.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
552         RIBEIRÃO PRETO                   10
727               ITÁPOLIS                   11
834         RIO DE JANEIRO                   10
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

>Ocorrencias com INCIDENTE GRAVE!<

In [29]:
#realizando um filtro nos dados parte2!
filtro1= dataframe.ocorrencia_classificacao == 'INCIDENTE GRAVE'
dataframe.loc[filtro1, ['ocorrencia_classificacao','ocorrencia_cidade', 'total_recomendacoes']]

     ocorrencia_classificacao ocorrencia_cidade  total_recomendacoes
7             INCIDENTE GRAVE          CANUTAMA                    3
8             INCIDENTE GRAVE          CASCAVEL                    2
9             INCIDENTE GRAVE     PARÁ DE MINAS                    0
29            INCIDENTE GRAVE          CURITIBA                    2
35            INCIDENTE GRAVE            PALMAS                    0
...                       ...               ...                  ...
6090          INCIDENTE GRAVE             MARAÚ                    0
6095          INCIDENTE GRAVE   ELDORADO DO SUL                    0
6097          INCIDENTE GRAVE     CAXIAS DO SUL                    0
6098          INCIDENTE GRAVE   CHAPADÃO DO SUL                    0
6104          INCIDENTE GRAVE       VOTUPORANGA                    0

[791 rows x 3 columns]

#Combinando 2 filtros!
>Combinando acidentes graves com ESTADO de são paulo!
Combinação feita com &<

In [31]:
filtro2=dataframe.ocorrencia_classificacao =='INCIDENTE GRAVE'
filtro3=dataframe.ocorrencia_cidade =='SÃO PAULO'
dataframe.loc[filtro2&filtro3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
219,41411,41411,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-06-08,19:30:00,2,NaN,NaN,NaN,NaN,NaN
297,42289,42289,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-07-29,20:06:00,0,NaN,NaN,NaN,NaN,NaN
380,42757,42757,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2010-09-13,19:05:00,0,NaN,NaN,NaN,NaN,NaN
461,43459,43459,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-10-28,18:35:00,0,NaN,NaN,NaN,NaN,NaN
1024,45553,45553,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2011-10-16,19:22:00,5,NaN,NaN,NaN,NaN,NaN
1353,45867,45867,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,2012-05-18,15:00:00,0,NaN,NaN,NaN,NaN,NaN
2294,50093,50093,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2013-10-11,22:50:00,0,NaN,NaN,NaN,NaN,NaN
2661,51417,51417,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2014-05-08,11:27:00,0,NaN,NaN,NaN,NaN,NaN
2952,52779,52779,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2014-11-30,16:40:00,0,NaN,NaN,NaN,NaN,NaN
2963,52840,52840,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2014-12-07,14:54:00,0,NaN,NaN,NaN,NaN,NaN
3934,66444,66444,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2017-02-22,21:48:00,1,NaN,NaN,NaN,NaN,NaN
4275,77281,77281,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,2017-11-30,21:33:00,0,NaN,NaN,NaN,NaN,NaN
4369,77694,77694,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2018-02-26,22:30:00,0,NaN,NaN,NaN,NaN,NaN
4498,77921,77921,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,2018-06-01,15:00:00,0,NaN,NaN,NaN,NaN,NaN
4619,78171,78171,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2018-09-06,16:28:00,0,NaN,NaN,NaN,NaN,NaN
4635,78203,78203,INCIDENTE GRAVE,SÃO PAULO,SP,SBGR,2018-09-26,15:47:00,0,NaN,NaN,NaN,NaN,NaN
4705,78332,78332,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2018-11-24,14:00:00,0,NaN,NaN,NaN,NaN,NaN
5167,78998,78998,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,2019-10-31,11:15:00,0,NaN,NaN,NaN,NaN,NaN
5591,79540,79540,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,2020-09-12,13:10:00,0,NaN,NaN,NaN,NaN,NaN
5705,79739,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0,NaN,NaN,NaN,NaN,NaN
5716,79718,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0,NaN,NaN,NaN,NaN,NaN
6007,80124,80124,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2021-06-10,20:30:00,0,NaN,NaN,NaN,NaN,NaN

#Incidente grave ou ser do estado de SAO PAULO
>Usando o | <

In [32]:
filtro = dataframe.ocorrencia_classificacao =="INCIDENTE GRAVE"
filtro2 = dataframe.ocorrencia_cidade =='SÃO PAULO'
dataframe.loc[filtro | filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2,NaN,NaN,NaN,NaN,NaN
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,2010-01-10,20:00:00,0,NaN,NaN,NaN,NaN,NaN
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8,NaN,NaN,NaN,NaN,NaN
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6090,80221,80221,INCIDENTE GRAVE,MARAÚ,BA,SIRI,2021-07-31,13:15:00,0,NaN,NaN,NaN,NaN,NaN
6095,80228,80228,INCIDENTE GRAVE,ELDORADO DO SUL,RS,SIXE,2021-08-05,15:55:00,0,NaN,NaN,NaN,NaN,NaN
6097,80231,80231,INCIDENTE GRAVE,CAXIAS DO SUL,RS,SBCX,2021-08-06,16:59:00,0,NaN,NaN,NaN,NaN,NaN
6098,80248,80248,INCIDENTE GRAVE,CHAPADÃO DO SUL,MS,SSCD,2021-08-06,20:00:00,0,NaN,NaN,NaN,NaN,NaN
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0,NaN,NaN,NaN,NaN,NaN

#Incidentes graves ou incidentes e o estado SAO PAULO!
>Combinando três fatores para o filtro!
usando no filtro 1 a condição o | (significa ou) e na hora de finalizar usamos a combinação dos dois filtros com o &<

In [33]:
filtro1 = (dataframe.ocorrencia_classificacao =='INCIDENTE GRAVE') | (dataframe.ocorrencia_classificacao =='INCIDENTE')
filtro2 = dataframe.ocorrencia_cidade =="SÃO PAULO"
dataframe.loc[filtro1 &filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0,NaN,NaN,NaN,NaN,NaN
64,39386,39386,INCIDENTE,SÃO PAULO,SP,NaN,2010-02-18,10:10:00,0,NaN,NaN,NaN,NaN,NaN
77,40314,40314,INCIDENTE,SÃO PAULO,SP,NaN,2010-03-04,23:50:00,0,NaN,NaN,NaN,NaN,NaN
95,40329,40329,INCIDENTE,SÃO PAULO,SP,SBSP,2010-03-18,12:10:00,0,NaN,NaN,NaN,NaN,NaN
134,40262,40262,INCIDENTE,SÃO PAULO,SP,SBSP,2010-04-14,01:42:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6010,80151,80151,INCIDENTE,SÃO PAULO,SP,SBSP,2021-06-15,18:22:00,0,NaN,NaN,NaN,NaN,NaN
6055,80174,80174,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-09,14:36:00,0,NaN,NaN,NaN,NaN,NaN
6069,80192,80192,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-18,11:58:00,0,NaN,NaN,NaN,NaN,NaN
6084,80234,80234,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0,NaN,NaN,NaN,NaN,NaN
6085,80208,80208,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0,NaN,NaN,NaN,NaN,NaN

>Podemos tambem usar o metodo isin()!
usando como argumento uma lista com os elementos no qual quer colocar na condição!
Veja abaixo um exemplo :<

In [42]:
filtro1 = dataframe.ocorrencia_classificacao.isin(['INCIDENTE GRAVE','INCIDENTE'])
filtro2 = dataframe.ocorrencia_uf =='SP'
dataframe.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,2010-01-15,15:00:00,0,NaN,NaN,NaN,NaN,NaN
18,39828,39828,INCIDENTE,SANTOS,SP,NaN,2010-01-15,17:45:00,0,NaN,NaN,NaN,NaN,NaN
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0,NaN,NaN,NaN,NaN,NaN
27,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,2010-01-21,20:45:00,0,NaN,NaN,NaN,NaN,NaN
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,2010-01-25,17:05:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6084,80234,80234,INCIDENTE,SÃO PAULO,SP,SBSP,2021-07-26,13:20:00,0,NaN,NaN,NaN,NaN,NaN
6085,80208,80208,INCIDENTE,SÃO PAULO,SP,SBMT,2021-07-27,19:45:00,0,NaN,NaN,NaN,NaN,NaN
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0,NaN,NaN,NaN,NaN,NaN
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN

- Ocorrencias cuja cidade comecem coma letra C!
>Para isso precissamos obter o primeiro caracter de cadacidade, depois comparar essecaracter com a letra C!<

In [43]:
filtro =dataframe.ocorrencia_cidade.str[0] =='C'
dataframe.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0,NaN,NaN,NaN,NaN,NaN
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2,NaN,NaN,NaN,NaN,NaN
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0,NaN,NaN,NaN,NaN,NaN
20,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-01-18,19:32:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6094,80225,80225,INCIDENTE,CURITIBA,PR,SBBI,2021-08-04,13:45:00,0,NaN,NaN,NaN,NaN,NaN
6097,80231,80231,INCIDENTE GRAVE,CAXIAS DO SUL,RS,SBCX,2021-08-06,16:59:00,0,NaN,NaN,NaN,NaN,NaN
6098,80248,80248,INCIDENTE GRAVE,CHAPADÃO DO SUL,MS,SSCD,2021-08-06,20:00:00,0,NaN,NaN,NaN,NaN,NaN
6100,80235,80235,INCIDENTE,CORUMBÁ,MS,SBCR,2021-08-09,20:55:00,0,NaN,NaN,NaN,NaN,NaN
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0,NaN,NaN,NaN,NaN,NaN

*ocorrencia cuja a cidade terminam com a letra A!
>Para isso usamos o mesmo modelo acima, localizamoso ultimocaracter e comparamos com a letra A<

In [44]:
filtro = dataframe.ocorrencia_cidade.str[-1] =="A"
dataframe.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0,NaN,NaN,NaN,NaN,NaN
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0,NaN,NaN,NaN,NaN,NaN
25,39772,39772,INCIDENTE,UBERLÂNDIA,MG,NaN,2010-01-20,18:58:00,0,NaN,NaN,NaN,NaN,NaN
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,2010-01-20,13:10:00,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6093,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0,NaN,NaN,NaN,NaN,NaN
6094,80225,80225,INCIDENTE,CURITIBA,PR,SBBI,2021-08-04,13:45:00,0,NaN,NaN,NaN,NaN,NaN
6102,80240,80240,INCIDENTE,GOIÂNIA,GO,SBNV,2021-08-10,14:15:00,0,NaN,NaN,NaN,NaN,NaN
6104,80238,80238,INCIDENTE GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11,19:09:00,0,NaN,NaN,NaN,NaN,NaN
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0,NaN,NaN,NaN,NaN,NaN

*Ocorrencias cuja a cidade terminam com MA!
>Para isso podemos usar o mesmo modelo de antes porém usamos uma tecnica de fatiamento da string!e ai comparamos com a silaba MA<

In [45]:
filtro = dataframe.ocorrencia_cidade.str[-2:] =='MA'
dataframe.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0,NaN,NaN,NaN,NaN,NaN
408,43062,43062,ACIDENTE,NOVO GAMA,GO,NaN,2010-09-25,16:30:00,1,NaN,NaN,NaN,NaN,NaN
688,44198,44198,ACIDENTE,BURITAMA,SP,NaN,2011-03-19,11:18:00,0,NaN,NaN,NaN,NaN,NaN
1035,51785,51785,INCIDENTE,BURITAMA,SP,SIBX,2011-10-25,19:15:00,0,NaN,NaN,NaN,NaN,NaN
1377,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,2012-05-30,19:00:00,0,NaN,NaN,NaN,NaN,NaN
1401,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,2012-06-16,19:30:00,0,NaN,NaN,NaN,NaN,NaN
2099,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2013-06-15,12:00:00,4,NaN,NaN,NaN,NaN,NaN
2102,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,2013-06-18,21:30:00,0,NaN,NaN,NaN,NaN,NaN
2646,80059,80059,INCIDENTE,IVINHEMA,MS,NaN,2014-04-27,11:30:00,0,NaN,NaN,NaN,NaN,NaN
2657,51347,51347,INCIDENTE,DIADEMA,SP,NaN,2014-05-04,16:00:00,0,NaN,NaN,NaN,NaN,NaN
2857,52340,52340,ACIDENTE,FAMA,MG,NaN,2014-09-20,15:00:00,1,NaN,NaN,NaN,NaN,NaN
2968,52832,52832,ACIDENTE,BURITAMA,SP,NaN,2014-12-14,23:40:00,0,NaN,NaN,NaN,NaN,NaN
2999,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,2015-01-02,14:50:00,0,NaN,NaN,NaN,NaN,NaN
3042,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,0,NaN,NaN,NaN,NaN,NaN
3094,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,2015-03-10,21:35:00,0,NaN,NaN,NaN,NaN,NaN
3159,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,2015-04-22,12:45:00,0,NaN,NaN,NaN,NaN,NaN
3173,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,2,NaN,NaN,NaN,NaN,NaN
3191,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,2015-05-17,17:00:00,0,NaN,NaN,NaN,NaN,NaN
3684,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1,NaN,NaN,NaN,NaN,NaN
3727,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,2016-08-31,17:40:00,0,NaN,NaN,NaN,NaN,NaN
3883,66265,66265,ACIDENTE,BURITAMA,SP,NaN,2017-01-13,16:00:00,0,NaN,NaN,NaN,NaN,NaN
4231,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1,NaN,NaN,NaN,NaN,NaN
4313,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,2018-01-06,10:30:00,0,NaN,NaN,NaN,NaN,NaN
4576,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,2018-07-28,14:20:00,0,NaN,NaN,NaN,NaN,NaN
4987,78867,78867,INCIDENTE,IRACEMA,RR,NaN,2019-07-06,00:00:00,0,NaN,NaN,NaN,NaN,NaN
5071,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2019-09-03,14:00:00,0,NaN,NaN,NaN,NaN,NaN
5081,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,2019-09-08,17:45:00,0,NaN,NaN,NaN,NaN,NaN
5406,79282,79282,ACIDENTE,ITURAMA,MG,NaN,2020-04-11,12:20:00,0,NaN,NaN,NaN,NaN,NaN
5441,79338,79338,INCIDENTE,IVINHEMA,MS,NaN,2020-05-15,09:40:00,0,NaN,NaN,NaN,NaN,NaN
5475,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,2020-06-09,14:00:00,0,NaN,NaN,NaN,NaN,NaN
5759,79823,79823,ACIDENTE,IRACEMA,RR,NaN,2021-01-05,20:07:00,0,NaN,NaN,NaN,NaN,NaN
5776,79820,79820,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0,NaN,NaN,NaN,NaN,NaN
5778,79830,79830,INCIDENTE,NOVA LIMA,MG,SJLY,2021-01-14,09:27:00,0,NaN,NaN,NaN,NaN,NaN
5861,79943,79943,INCIDENTE,IBOTIRAMA,BA,SNIT,2021-03-03,11:30:00,0,NaN,NaN,NaN,NaN,NaN
6093,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0,NaN,NaN,NaN,NaN,NaN

*Podemos ainda usar o metodo contains()!
>Usado para verificar se uma condição passada a ele está dentro do objeto a ser verificado!
Nocaso abaixo tentamos passar o mesmo parametro de verificação d a silaba MA dentro da ocorrencia_cidade, porém averificação não é feita apenas no final das palavras!<

In [46]:
filtro= dataframe.ocorrencia_cidade.str.contains('MA')
dataframe.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,2010-01-09,12:30:00,3,NaN,NaN,NaN,NaN,NaN
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,2010-01-11,17:00:00,2,NaN,NaN,NaN,NaN,NaN
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,2010-01-15,21:22:00,0,NaN,NaN,NaN,NaN,NaN
35,39487,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2010-01-26,16:50:00,0,NaN,NaN,NaN,NaN,NaN
78,39916,39916,INCIDENTE GRAVE,MANAUS,AM,SBEG,2010-03-07,19:35:00,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,80205,80205,INCIDENTE,MANAUS,AM,SBEG,2021-07-23,11:15:00,0,NaN,NaN,NaN,NaN,NaN
6086,80212,80212,INCIDENTE,AMAPÁ,AP,NaN,2021-07-28,18:00:00,0,NaN,NaN,NaN,NaN,NaN
6090,80221,80221,INCIDENTE GRAVE,MARAÚ,BA,SIRI,2021-07-31,13:15:00,0,NaN,NaN,NaN,NaN,NaN
6093,80227,80227,ACIDENTE,UMUARAMA,PR,NaN,2021-08-02,14:30:00,0,NaN,NaN,NaN,NaN,NaN
6106,80249,80249,INCIDENTE,MANAUS,AM,SBEG,2021-08-14,15:40:00,0,NaN,NaN,NaN,NaN,NaN